* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Penka {
    width: 100%;
    height: 620px;
    background-color: linear-gradient(#87CEEB, #E0F6FF);
    position: relative;
}
.Mario {
    bottom: 0;
    width: 80px;
    position: absolute;
    animation: Mario-animation 500ms;
}
@keyframes Mario-animation {
    from {
        bottom: 0;
    } to {
        bottom: 80px;
    } to {
        bottom: 100px;
    } to {
        bottom: 80px;
    } to {
        bottom: 0;
    }
}