* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Penka {
    background-color: linear-gradient(#87CEEB, white);
    position: relative;
}
.LVL15 {
    position: absolute;
    align-items: center;
    color: black;
}